In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('C:\\Users\\user\\Desktop\\Python\\Python\\Statistics\\datasets\\Insure_auto.csv')
df.head()

  Branch  Home  Automobile  Operating_Cost
0    B01   400        1200          124000
1    B02   350         360           71000
2    B03   600         800          136000
3    B04   800        1800          219000
4    B05   900        1600          230000

In [4]:
X = df[['Home','Automobile']]
y = df['Operating_Cost']
lr = LinearRegression()
lr.fit(X,y)
lr.intercept_,lr.coef_

(-10084.213130948774, array([167.32668857,  54.10529229]))